Repository timelessco/smooth-carousel-dots: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint, yarn lint:package, prettier --write

.lintstagedrc:

{
  "**/*.{js,jsx}": [
    "yarn format",
    "yarn lint"
  ],
  "package.json": [
    "yarn lint:package"
  ],
  "**/*.{md,yml,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ],
}

docs(storybook): :pencil: added storybook for the carousel dots
  .storybook/css-reset.css
  .storybook/index.css
  .storybook/preview.js
  packages/react-smooth-carousel-dots/stories/carousel-dots.stories.jsx
  packages/react-smooth-carousel-dots/stories/dots.stories.jsx
Due: yarn format, yarn lint

chore(package.json): :wrench: change release scripts
  package.json
Due: yarn lint:package, prettier --write

chore(lerna): :wrench: remove version scripts
  lerna.json
Due: prettier --write

chore(release): publish
  packages/react-smooth-carousel-dots/CHANGELOG.md
  packages/react-smooth-carousel-dots/package.json
Due: yarn lint:package, prettier --write

chore(bump): :wrench: version bump
  packages/react-smooth-carousel-dots/package.json
Due: yarn lint:package, prettier --write
